body {
  background-color: aquamarine;
}
h1 {
  text-align: center;
  padding-top: 190px;
}
#initial-price,
#quantity,
#final-price {
  display: block;
  margin: auto;
  font-size: 1.3rem;
}
label {
  display: block;
  margin: auto;
  font-size: 1.3rem;
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* padding-left: -100px; */
  /* padding-right: 2000px; */
}
#output-box {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}
#output-btn {
  display: block;

  margin: auto;
}
output-btn :hover {
  background-color: brown;
}

.label-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 10%;
  width: fit-content;
  padding-bottom: 10px;
  /* background-color: rgb(230, 215, 229); */
  /* padding-left: 300px; */
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* padding-top: 10px; */
  /* width: 100px;  */
}
input {
  /* width: 160%; */
  width: 200px;
}
